<!DOCTYPE html>
<html lang="vn, en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Trang chủ</title>
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" th:href="@{/css/class-style.css}" />
    <link rel="icon" th:href="@{/image/login/PTIT_LOGO.png}" />
  </head>
  <body>
    <nav>
      <div class="nav_function">
        <img th:src="@{/image/homepage/PTIT_LOGO_WHITE.png}" alt="PTIT Logo" />
        <div>
          <a th:href="@{/student/classroom}">Lớp học</a>
          <a th:href="@{/student/history}">Lịch sử</a>


        </div>
      </div>
      <div class="nav_user_info">
        <div id="nav_username">
          <h4 th:text="${userDTO.lastname} + ' ' + ${userDTO.firstname}">
            Tên người dùng
          </h4>
          <h5
            th:text="${userDTO.role == 'TEACHER' ? 'Giáo viên' :
         (userDTO.role == 'STUDENT' ? 'Sinh viên' :
         (userDTO.role == 'STUDENT' ? 'Quản trị viên' : 'null'
      ))}"
          >
            Vai trò
          </h5>
        </div>
        <div id="user_more_tools">
          ▼
          <ul class="user-menu">
            <li><a th:href="@{/user-info}">Hồ sơ</a></li>
            <li><a href="#">Hướng dẫn</a></li>
            <li>
              <form th:action="@{/logout}" method="post" id="logout_button">
                <button type="submit">Đăng xuất</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="message">
        <h2>
          Lịch sử làm bài
        </h2>
        <div th:if="${success}" id="success-message">
          <p th:text="${success}"></p>
        </div>

        <div th:if="${error}" id="error-message">
          <p th:text="${error}"></p>
        </div>
        <script>
          // Kiểm tra nếu phần tử success-message tồn tại trên trang
          window.addEventListener("load", function () {
            var successMessage = document.getElementById("success-message");
            if (successMessage) {
              // Ẩn thông báo sau 5 giây
              setTimeout(function () {
                successMessage.style.display = "none";
              }, 5000);
            }

            var errorMessage = document.getElementById("error-message");

            if (errorMessage) {
              // Ẩn thông báo sau 5 giây
              setTimeout(function () {
                errorMessage.style.display = "none";
              }, 5000);
            }
          });
        </script>

      <div class="info-table">
        <table>
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã SV</th>
              <th>Tên SV</th>
              <th>Tên đề thi</th>
              <th>Ngày Nộp bài</th>
              <th>Số câu đúng</th>
              <th>Số điểm</th>
            </tr>
          </thead>
          <tbody>
            <tr th:style="${result.score} > 0 ? 'background-color: #86c681' : 'background-color: #fca1a0'" th:each="result, iterStat : ${results}">
              <td th:text="${iterStat.count}"></td>
              <td>
                <a
                  th:text="${result.student.studentId}"
                >
                </a>
              </td>
              <td th:text="${result.student.user.firstname} + ' ' +  ${result.student.user.lastname}"></td>
              <td th:text="${result.exam.examTitle}"></td>

              <td th:text="${{result.resultCreatedAt}}"></td>
              <td th:text="${result.correctAnswerCount} + '/' +  ${result.exam.questions.size()}"  ></td>
              <td th:text="${result.score} % 1 == 0? ${result.score} :${#numbers.formatDecimal(result.score, 0, 2)}"></td>
            </tr>
          </tbody>
        </table>

        <p th:if="${totalItems == 0}" class="text-center mt-4 text-danger">
          Hiện tại bạn chưa làm đề thi nào cả, quá lười!
        </p>
<div
          class="mt-4 d-flex justify-content-center"
          aria-label="Page navigation example"
          th:if="${totalItems >= 1}"
        >
          <ul class="pagination">
            <!-- Previous Button -->
            <li
              class="page-item"
              th:classappend="${currentPage == 1} ? 'disabled'"
            >
              <a
                class="page-link"
                th:href="@{/student/history(current=${currentPage - 1}, pageSize=${pageSize})}"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <!-- Page Numbers -->
            <li
              th:each="i : ${#numbers.sequence(1, totalPages)}"
              class="page-item"
              th:classappend="${i == currentPage} ? 'active'"
            >
              <a
                class="page-link"
                th:href="@{/student/history(current=${i}, pageSize=${pageSize})}"
                th:text="${i}"
              ></a>
            </li>

            <!-- Next Button -->
            <li
              class="page-item"
              th:classappend="${currentPage == totalPages} ? 'disabled'"
            >
              <a
                class="page-link"
                th:href="@{/student/history(current=${currentPage + 1}, pageSize=${pageSize})}"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>

    <!-- Modal -->
   

    <div
      class="modal fade"
      id="delete-classroom"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xóa lớp học</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Bạn có chắc là muốn xóa lớp học này?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-close"
              data-dismiss="modal"
            >
              Đóng
            </button>
            <button type="button" class="btn btn-danger confirm-delete">
              Xác Nhận
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const moreTools = document.getElementById("user_more_tools");
        const userMenu = moreTools.querySelector(".user-menu");

        // Toggle menu khi bấm vào biểu tượng tam giác
        moreTools.addEventListener("click", (event) => {
          event.stopPropagation(); // Ngăn không để sự kiện bấm vào phần tử cha
          userMenu.classList.toggle("show");
        });

        // Đóng menu khi bấm ra ngoài
        document.addEventListener("click", (event) => {
          if (!moreTools.contains(event.target)) {
            // Kiểm tra nếu không bấm vào trong menu
            userMenu.classList.remove("show"); // Xóa lớp 'show' để ẩn menu
          }
        });

        const deleteBtn = document.querySelectorAll(".delete-btn");

        // lặp qua tất cả các nút xóa
        deleteBtn.forEach((btn) => {
          btn.addEventListener("click", (event) => {
            const confirmDeleteBtn = document.querySelector(".confirm-delete");

            // nếu nút xác nhận xóa được bấm
            confirmDeleteBtn.addEventListener("click", (event) => {
              // lấy ra form chứa nút xóa
              const form = btn.parentElement;
              form.submit();
            });
          });
        });

        // Sắp xếp sinh viên

        const sortButton = document.querySelector(".sort-student");
        const sortCriteriaSelect = document.getElementById("sort_criteria");

        sortCriteriaSelect.addEventListener("change", function () {
          const selectedValue = this.value;
          const url = new URL(window.location.href);
          const queryParams = url.searchParams;

          // Cập nhật tham số sort với giá trị được chọn
          queryParams.set("sort", selectedValue);

          // Cập nhật URL
          window.location.search = queryParams.toString();
        });

        // Tìm kiếm lớp học
        const searchButton = document.querySelector(".search-student");
        const searchInput = document.getElementById("search_input");

        searchButton.addEventListener("click", function () {
          const searchInput = document.getElementById("search_input");
          const searchValue = searchInput.value;

          let queryParams = new URLSearchParams(window.location.search);

          queryParams.delete("current");
          queryParams.delete("pageSize");

          if (searchValue) {
            queryParams.set("search", searchValue);
          } else {
            queryParams.delete("search");
          }

          window.location.search = queryParams.toString();
        });

        searchInput.addEventListener("keydown", function (e) {
          if (e.key === "Enter") {
            searchButton.click();
          }
        });
      });
    </script>
  </body>
</html>
