<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/class-style.css}" />
    <link rel="icon" th:href="@{/image/login/PTIT_LOGO.png}" />

    <title>Chi tiết lớp học</title>
  </head>

  <body>
    <nav>
      <div class="nav_function">
        <img th:src="@{/image/homepage/PTIT_LOGO_WHITE.png}" alt="PTIT Logo" />
        <div>
          <a th:href="@{/student/classroom}">Lớp học</a>
        </div>
      </div>
      <div class="nav_user_info">
        <div id="nav_username">
          <h4 th:text="${userDTO.lastname} + ' ' + ${userDTO.firstname}">
            Tên người dùng
          </h4>
          <h5
            th:text="${userDTO.role == 'TEACHER' ? 'Giáo viên' :
         (userDTO.role == 'STUDENT' ? 'Sinh viên' :
         (userDTO.role == 'STUDENT' ? 'Quản trị viên' : 'null'
      ))}"
          >
            Vai trò
          </h5>
        </div>
        <div id="user_more_tools">
          ▼
          <ul class="user-menu">
            <li><a href="#">Hồ sơ</a></li>
            <li><a href="#">Hướng dẫn</a></li>
            <li>
              <form th:action="@{/logout}" method="post" id="logout_button">
                <button type="submit">Đăng xuất</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container">
      <div class="mt-4">
        <h2 class="text-center title-create">
          Danh sách Sinh Viên Lớp
          <span th:text="${classroom.className}"></span> 
          <span class="text-danger" th:text="'(' + ${totalItems} + ')'"></span>
        </h2>

        <div class="mt-5">
          <div class="message">
            <div th:if="${success}" id="success-message">
              <p th:text="${success}"></p>
            </div>
    
            <div th:if="${error}" id="error-message">
              <p th:text="${error}"></p>
            </div>
            <script>
              // Kiểm tra nếu phần tử success-message tồn tại trên trang
              window.addEventListener("load", function () {
                var successMessage = document.getElementById("success-message");
                if (successMessage) {
                  // Ẩn thông báo sau 5 giây
                  setTimeout(function () {
                    successMessage.style.display = "none";
                  }, 5000);
                }
    
                var errorMessage = document.getElementById("error-message");
    
                if (errorMessage) {
                  // Ẩn thông báo sau 5 giây
                  setTimeout(function () {
                    errorMessage.style.display = "none";
                  }, 5000);
                }
              });
            </script>
          </div>
    
          <div class="search_tool">
            
            <input
                type="text"
                name="classroom"
                id="search_input"
                placeholder="Tìm kiếm Sinh Viên Theo Mã Sinh Viên"
                th:value="${search}"

            />
            <a id="red_button" hidden class="search-student">Tìm kiếm</a>

            <select id="sort_order">
              <option value="default" th:selected="${sort == 'default'}">Sắp xếp</option>
              <option value="az" th:selected="${sort == 'az'}">A-Z</option>
              <option value="za" th:selected="${sort == 'za'}">Z-A</option>
            </select>
      
            <select style="margin:0 10px" id="sort_criteria">
                <option value="default" th:selected="${key == 'default'}">Tiêu chí</option>
                <option value="studentId" th:selected="${key == 'studentId'}">Mã sinh viên</option>
                <option value="className" th:selected="${key == 'className'}">Lớp</option>
                <option value="major" th:selected="${key == 'major'}">Chuyên ngành</option>
            </select>
            <a id="red_button" class="sort-student">Sắp xếp</a>
          </div>

        <div class="info-table">
          <table>
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã Sinh Viên</th>
                <th>Họ tên</th>
                <th>Chuyên ngành</th>
                <th>Lớp</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="student, iterStat : ${students}">
                <td th:text="${iterStat.count}"></td>
                <td>
                  <a
                   
                    th:text="${student.studentId}"
                  >
                  </a>
                </td>
                <td th:text="${student.user.firstname} + ${student.user.lastname}"></td>
                <td th:text="${student.major}"></td>
                <td th:text="${student.className}"></td>
              </tr>
            </tbody>
          </table>

          <p th:if="${totalItems == 0}" class="text-center mt-4 text-danger">
            Không có sinh viên nào trong lớp

          <div
          class="mt-4 d-flex justify-content-center"
          th:if="${totalItems >= 1}"
          aria-label="Page navigation example"
        >
            <ul class="pagination">
              <!-- Previous Button -->
              <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                  <a class="page-link"
                    th:href="@{/student/classroom/view/{id}(id=${classroom.classId}, current=${currentPage - 1}, pageSize=${pageSize})}"
                    aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
          
              <!-- Page Numbers -->
              <li th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item" th:classappend="${i == currentPage} ? 'active'">
                  <a class="page-link"
                    th:href="@{/student/classroom/view/{id}(id=${classroom.classId}, current=${i}, pageSize=${pageSize})}"
                    th:text="${i}"></a>
              </li>
          
              <!-- Next Button -->
              <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                  <a class="page-link"
                    th:href="@{/student/classroom/view/{id}(id=${classroom.classId}, current=${currentPage + 1}, pageSize=${pageSize})}"
                    aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          </ul>
        </div>
        </div>

      </div>

       <!--TODO: Exam Page-->
       <div class="mt-4">
        <h2 class="text-center title-create">
          Danh sách đề thi lớp
          <span th:text="${classroom.className}"></span> 
          <span class="text-danger" th:text="'(' + ${examTotalItems} + ')'"></span>
        </h2>

        <div class="mt-5">
          <div class="message">
            <div th:if="${success}" id="success-message">
              <p th:text="${success}"></p>
            </div>
    
            <div th:if="${error}" id="error-message">
              <p th:text="${error}"></p>
            </div>
            <script>
              // Kiểm tra nếu phần tử success-message tồn tại trên trang
              window.addEventListener("load", function () {
                var successMessage = document.getElementById("success-message");
                if (successMessage) {
                  // Ẩn thông báo sau 5 giây
                  setTimeout(function () {
                    successMessage.style.display = "none";
                  }, 5000);
                }
    
                var errorMessage = document.getElementById("error-message");
    
                if (errorMessage) {
                  // Ẩn thông báo sau 5 giây
                  setTimeout(function () {
                    errorMessage.style.display = "none";
                  }, 5000);
                }
              });
            </script>
          </div>
    
          <div class="search_tool">
            
            <input
                type="text"
                name="exam"
                id="search_input"
                placeholder="Tìm kiếm theo mã đề thi"
                th:value="${search}"

            />
            <a id="red_button" hidden class="search-student">Tìm kiếm</a>

            <select id="sort_order">
              <option value="default" th:selected="${sort == 'default'}">Sắp xếp</option>
              <option value="az" th:selected="${sort == 'az'}">A-Z</option>
              <option value="za" th:selected="${sort == 'za'}">Z-A</option>
            </select>
        
            <select style="margin: 0 10px" id="sort_criteria">
                <option value="default" th:selected="${key == 'default'}">Tiêu chí</option>
                <option value="examTitle" th:selected="${key == 'examTitle'}">Tên đề thi</option>
                <option value="examQuestionCount" th:selected="${key == 'examQuestionCount'}">Số lượng câu</option>
                <option value="examDuration" th:selected="${key == 'examDuration'}">Thời gian</option>
            </select>
            <a id="red_button" class="sort-student">Sắp xếp</a>
          </div>

        <div class="info-table">
          <table>
            <thead>
              <tr>
                <th>STT</th>
                <th>Tên đề thi</th>
                <th>Thời gian tạo</th>
                <th>Số lượng câu</th>
                <th>Thời gian</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody  >
              <tr th:style="${resultId.contains(exam.examId)} ? 'background-color: #86c681' : ''" th:each="exam, iterStat : ${exams}" >
                  <td  th:text="${iterStat.count}"></td>
                <td th:text="${exam.examTitle}"></td>
                <td th:text="${{exam.examCreatedAt}}"></td>

                <td th:text="${exam.questions.size()}"></td>
                <td th:text="${exam.examDuration}"></td>
                <td>
                  <div th:if="${resultId.contains(exam.examId)}">
                    Đã làm
                  </div>
                  <div th:unless="${resultId.contains(exam.examId)}">
                    <a
                  th:href="@{'/student/exam/' + ${exam.examId} +'/prepare'}"
                    class="btn btn-danger"
                    >Vào thi</a
                  >
                  </div>
                  
                </td>
                
                
              </tr>
            </tbody>
          </table>

          <p th:if="${examTotalItems == 0}" class="text-center mt-4 text-danger">
            Không có đề thi nào cả

          <div
          class="mt-4 d-flex justify-content-center"
          th:if="${examTotalItems >= 1}"
          aria-label="Page navigation example"
        >
            <ul class="pagination">
              <!-- Previous Button -->
              <li class="page-item" th:classappend="${examCurrentPage == 1} ? 'disabled'">
                  <a class="page-link"
                    th:href="@{/student/classroom/view/{id}(id=${classroom.classId}, examCurrent=${examCurrentPage - 1}, pageSize=${pageSize})}"
                    aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
          
              <!-- Page Numbers -->
              <li th:each="i : ${#numbers.sequence(1, examTotalPages)}" class="page-item" th:classappend="${i == examCurrentPage} ? 'active'">
                  <a class="page-link"
                    th:href="@{/student/classroom/view/{id}(id=${classroom.classId}, examCurrent=${i}, pageSize=${pageSize})}"
                    th:text="${i}"></a>
              </li>
          
              <!-- Next Button -->
              <li class="page-item" th:classappend="${examCurrentPage == examTotalPages} ? 'disabled'">
                  <a class="page-link"
                    th:href="@{/student/classroom/view/{id}(id=${classroom.classId}, examCurrent=${examCurrentPage + 1}, pageSize=${pageSize})}"
                    aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
          </ul>
        </div>
        </div>
    </div>
  </body>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const moreTools = document.getElementById("user_more_tools");
      const userMenu = moreTools.querySelector(".user-menu");

      // Toggle menu khi bấm vào biểu tượng tam giác
      moreTools.addEventListener("click", (event) => {
        event.stopPropagation(); // Ngăn không để sự kiện bấm vào phần tử cha
        userMenu.classList.toggle("show");
      });

      // Đóng menu khi bấm ra ngoài
      document.addEventListener("click", (event) => {
        if (!moreTools.contains(event.target)) {
          // Kiểm tra nếu không bấm vào trong menu
          userMenu.classList.remove("show"); // Xóa lớp 'show' để ẩn menu
        }
      });

      // Sắp xếp sinh viên

      const sortButton = document.querySelector('.sort-student');
      const sortOrderSelect = document.getElementById('sort_order');
      const sortCriteriaSelect = document.getElementById('sort_criteria');

      sortButton.addEventListener('click', function () {
          const sortOrder = sortOrderSelect.value;
          const sortCriteria = sortCriteriaSelect.value;

          let queryParams = new URLSearchParams(window.location.search);

          if (sortOrder !== 'default' && sortCriteria !== 'default') {
              queryParams.set('sort', sortOrder);
              queryParams.set('key', sortCriteria);
          } else {
              queryParams.delete('sort');
              queryParams.delete('key');
          }

          window.location.search = queryParams.toString();
      });

      // Tìm kiếm lớp sinh viên

      const searchButton = document.querySelector(".search-student");
        const searchInput = document.getElementById("search_input");

        searchButton.addEventListener("click", function () {
          const searchInput = document.getElementById("search_input");
          const searchValue = searchInput.value;

          let queryParams = new URLSearchParams(window.location.search);
          
          queryParams.delete('current');
          queryParams.delete('pageSize');
          if (searchValue) {
            queryParams.set("search", searchValue);
          } else {
            queryParams.delete("search");
          }

          window.location.search = queryParams.toString();
        });

        searchInput.addEventListener("keydown", function (e) {
          if (e.key === "Enter") {
            searchButton.click();
          }
        });
    });

  </script>
</html>
