<!DOCTYPE html>
<html lang="vn, en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Trang chủ</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/class-style.css}">
</head>
<body>
<nav>
  <div class="nav_function">
    <img th:src="@{/image/homepage/PTIT_LOGO_WHITE.png}" alt="PTIT Logo">
    <ul>
      <li>Lớp học</li>
      <li>Đề thi</li>
      <li>Hướng dẫn</li>
    </ul>
  </div>
  <div class="nav_user_info">
    <div id="nav_username">
      <h4 th:text="${userDTO.lastname} + ' ' + ${userDTO.firstname}">Tên người dùng</h4>
      <h5 th:text="${userDTO.role == 'ROLE_TEACHER' ? 'Giáo viên' : 'Sinh viên'}">Vai trò</h5>
    </div>
    <div id="user_more_tools"> ▼
      <ul class="user-menu">
        <li><a href="#">Hồ sơ</a></li>
        <li><a href="#">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="content">
  <h2 class="">Lớp học</h2>
  <div class="search_tool">
    <input type="text" name="classroom" id="search_input" placeholder="Tìm kiếm lớp">
    <select id="sort_method">
      <option value="default">Sắp xếp</option>
      <option value="az">A-Z</option>
      <option value="za">Z-A</option>
      <option value="newest">Mới nhất</option>
      <option value="oldest">Cũ nhất</option>
    </select>
    <button id="red_button">+ Tạo lớp mới</button>
  </div>
  <div class="info-table">
    <table>
      <thead>
      <tr>
        <th>STT</th>
        <th>Mã lớp</th>
        <th>Tên lớp</th>
        <th>Ngày tạo</th>
        <th>Số học sinh</th>
        <th>Số đề thi</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>TƯ TƯỞNG HỒ CHÍ MINH</td>
        <td>4/10/2024</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>2</td>
        <td>PHÁP LUẬT ĐẠI CƯƠNG</td>
        <td>5/10/2024</td>
        <td>0</td>
        <td>0</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const moreTools = document.getElementById('user_more_tools');
      const userMenu = moreTools.querySelector('.user-menu');

      // Toggle menu khi bấm vào biểu tượng tam giác
      moreTools.addEventListener('click', (event) => {
          event.stopPropagation(); // Ngăn không để sự kiện bấm vào phần tử cha
          userMenu.classList.toggle('show');
      });

      // Đóng menu khi bấm ra ngoài
      document.addEventListener('click', (event) => {
          if (!moreTools.contains(event.target)) { // Kiểm tra nếu không bấm vào trong menu
              userMenu.classList.remove('show'); // Xóa lớp 'show' để ẩn menu
          }
      });
  });
</script>
</body>
</html>
