<!DOCTYPE html>
<html lang="vn, en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>Trang chủ</title>
    <meta charset="UTF-8" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" th:href="@{/css/class-style.css}" />
    <link rel="icon" th:href="@{/image/login/PTIT_LOGO.png}" />
  </head>
  <body>
    <nav>
      <div class="nav_function">
        <img th:src="@{/image/homepage/PTIT_LOGO_WHITE.png}" alt="PTIT Logo" />
        <div>
          <li>Lớp học</li>
          <li>Đề thi</li>
        </div>
      </div>
      <div class="nav_user_info">
        <div id="nav_username">
          <h4 th:text="${userDTO.lastname} + ' ' + ${userDTO.firstname}">
            Tên người dùng
          </h4>
          <h5
            th:text="${userDTO.role == 'TEACHER' ? 'Giáo viên' :
         (userDTO.role == 'STUDENT' ? 'Sinh viên' :
         (userDTO.role == 'STUDENT' ? 'Quản trị viên' : 'null'
      ))}"
          >
            Vai trò
          </h5>
        </div>
        <div id="user_more_tools">
          ▼
          <ul class="user-menu">
            <li><a th:href="@{/user-info}">Hồ sơ</a></li>
            <li><a href="#">Hướng dẫn</a></li>
            <li>
              <form th:action="@{/logout}" method="post" id="logout_button">
                <button type="submit">Đăng xuất</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="message">
        <h2>
          Lớp học
          <span class="text-danger" th:text="'(' + ${totalItems} + ')'"></span>
        </h2>
        <div th:if="${success}" id="success-message">
          <p th:text="${success}"></p>
        </div>

        <div th:if="${error}" id="error-message">
          <p th:text="${error}"></p>
        </div>
        <script>
          // Kiểm tra nếu phần tử success-message tồn tại trên trang
          window.addEventListener("load", function () {
            var successMessage = document.getElementById("success-message");
            if (successMessage) {
              // Ẩn thông báo sau 5 giây
              setTimeout(function () {
                successMessage.style.display = "none";
              }, 5000);
            }

            var errorMessage = document.getElementById("error-message");

            if (errorMessage) {
              // Ẩn thông báo sau 5 giây
              setTimeout(function () {
                errorMessage.style.display = "none";
              }, 5000);
            }
          });
        </script>
      </div>

      <div class="search_tool">
        <input
          type="text"
          name="classroom"
          id="search_input"
          placeholder="Tìm kiếm lớp"
        />
        <select id="sort_method">
          <option value="default">Sắp xếp</option>
          <option value="az">A-Z</option>
          <option value="za">Z-A</option>
          <option value="newest">Mới nhất</option>
          <option value="oldest">Cũ nhất</option>
        </select>
        <a
          data-toggle="modal"
          data-target="#create-classroom"
          href="/ptit-exam/teacher/classroom/create"
          id="red_button"
          >+ Tạo lớp mới</a
        >
      </div>
      <div class="info-table">
        <table>
          <thead>
            <tr>
              <th>STT</th>
              <th>Mã lớp</th>
              <th>Tên lớp</th>
              <th>Ngày tạo</th>
              <th>Số học sinh</th>
              <th>Số đề thi</th>
              <th>Thao tác</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="classroom, iterStat : ${classrooms}">
              <td th:text="${iterStat.count}"></td>
              <td>
                <a
                  th:href="@{'/teacher/classroom/update/' + ${classroom.classId}}"
                  th:text="${classroom.classId}"
                >
                </a>
              </td>
              <td th:text="${classroom.className}"></td>
              <td
                th:text="${#dates.format(classroom.classCreatedAt, 'dd/MM/yyyy')}"
              ></td>
              <td th:text="${classroom.students.size()}"></td>
              <td>0</td>
              <td>
                <form
                  th:action="@{'/teacher/classroom/delete/' + ${classroom.classId}}"
                  method="post"
                  class="delete-form"
                >
                  <button
                    type="button"
                    th:attr="data-id=${classroom.classId}"
                    class="btn btn-danger delete-btn"
                    data-toggle="modal"
                    data-target="#delete-classroom"
                  >
                    Xóa
                  </button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>

        <p th:if="${totalItems == 0}" class="text-center mt-4 text-danger">
          Hiện tại không có lớp học nào!
        </p>

        <div
          class="mt-4 d-flex justify-content-center"
          aria-label="Page navigation example"
          th:if="${totalItems >= 1}"
        >
          <ul class="pagination">
            <!-- Previous Button -->
            <li
              class="page-item"
              th:classappend="${currentPage == 1} ? 'disabled'"
            >
              <a
                class="page-link"
                th:href="@{/teacher/classroom(current=${currentPage - 1}, pageSize=${pageSize})}"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>

            <!-- Page Numbers -->
            <li
              th:each="i : ${#numbers.sequence(1, totalPages)}"
              class="page-item"
              th:classappend="${i == currentPage} ? 'active'"
            >
              <a
                class="page-link"
                th:href="@{/teacher/classroom(current=${i}, pageSize=${pageSize})}"
                th:text="${i}"
              ></a>
            </li>

            <!-- Next Button -->
            <li
              class="page-item"
              th:classappend="${currentPage == totalPages} ? 'disabled'"
            >
              <a
                class="page-link"
                th:href="@{/teacher/classroom(current=${currentPage + 1}, pageSize=${pageSize})}"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="create-classroom"
      data-backdrop="static"
      data-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">
              Tạo mới lớp học
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form th:action="@{/teacher/classroom/create}" method="post">
              <div class="form-group">
                <label for="exampleInputEmail1">Tên lớp học</label>
                <input type="text" class="form-control" name="name" required />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Đóng
                </button>
                <button type="submit" class="btn btn-danger">
                  Tạo mới lớp
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="delete-classroom"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xóa lớp học</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">Bạn có chắc là muốn xóa lớp học này?</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary btn-close"
              data-dismiss="modal"
            >
              Đóng
            </button>
            <button type="button" class="btn btn-danger confirm-delete">
              Xác Nhận
            </button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const moreTools = document.getElementById("user_more_tools");
        const userMenu = moreTools.querySelector(".user-menu");

        // Toggle menu khi bấm vào biểu tượng tam giác
        moreTools.addEventListener("click", (event) => {
          event.stopPropagation(); // Ngăn không để sự kiện bấm vào phần tử cha
          userMenu.classList.toggle("show");
        });

        // Đóng menu khi bấm ra ngoài
        document.addEventListener("click", (event) => {
          if (!moreTools.contains(event.target)) {
            // Kiểm tra nếu không bấm vào trong menu
            userMenu.classList.remove("show"); // Xóa lớp 'show' để ẩn menu
          }
        });

        const deleteBtn = document.querySelectorAll(".delete-btn");

        // lặp qua tất cả các nút xóa
        deleteBtn.forEach((btn) => {
          btn.addEventListener("click", (event) => {
            const confirmDeleteBtn = document.querySelector(".confirm-delete");

            // nếu nút xác nhận xóa được bấm
            confirmDeleteBtn.addEventListener("click", (event) => {
              // lấy ra form chứa nút xóa
              const form = btn.parentElement;
              form.submit();
            });
          });
        });
      });
    </script>
  </body>
</html>
