<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Đăng Nhập - PTIT Exam</title>
    <link rel="stylesheet" th:href="@{/css/login-style.css}">
    <link rel="icon" th:href="@{/image/login/PTIT_LOGO.png}">
</head>
<body>
<div class="ptit-logo-container">
    <img th:src="@{/image/login/PTIT_LOGO.png}" alt="PTIT Logo">
    <div>
        <h2>HỌC VIỆN CÔNG NGHỆ BƯU CHÍNH VIỄN THÔNG</h2>
        <h3>Posts and Telecommunications Institute of Technology</h3>
    </div>
</div>

<div class="openning-title">
    <h1>Hệ thống thi trắc nghiệm trực tuyến - PTIT Exam</h1>
</div>

<div class="login-container">
    <h2>Đăng nhập</h2>

    <div th:if="${error}" style="color: #bb2019;">
        <p th:text="${error}"></p>
    </div>

    <form action="#" th:action="@{/login}" method="post" th:object="${user}">
        <label for="username">Tên đăng nhập:</label>
        <input type="text" id="username" name="username" required th:field="*{username}">

        <label for="password">Mật khẩu:</label>
        <input type="password" id="password" name="password" required th:field="*{password}">

        <div class="remember-password">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Ghi nhớ mật khẩu</label>
        </div>
        <a href="forgot-password.html" class="forgot-password">Quên mật khẩu?</a>

        <button type="submit">Đăng nhập</button>

        <label>Chưa có tài khoản?
            <a href="#" class="sign-up">Đăng ký</a>
        </label>
    </form>
</div>
</body>
</html>